body{
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}
header{
    height: 110px;
    /*padding-top: 2%;*/
    /*padding-bottom: 50px;*/
    background-image: url("../img/cabecalho.jpg") ;
    color:white;
    width: 100%;
    /*position: fixed;*/
    /*position: inherit;*/
    margin:0 auto; 
}
.tema{
    height: 83.5%;
    width: 220px;
    padding-top: 90px;
    margin-bottom: 0;
    font-size: 16px;
    position: fixed;
    font-size: 20px;
    background-color: black;
    color:white;
    margin-top: 150px;
}
.menu{
    background-color: rgb(231, 222, 222);
    border-radius: 10px;
    font-size: 25px;
    padding-top: 5px;
    height: 40px;
}
.conteudo{
    margin-left: 3%;
    margin-top: 190px;
    padding-bottom: 100px;
    position: absolute;
    text-align:justify;
    width:80%;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    min-width: 900px;
    
}

center h1{
  color:black;
  /* color:rgb(47, 189, 255); */
  border-bottom: 1px solid silver;
}
.navbot{
  width: 100%;
  margin-top: 100px;
  position: relative;
}
.menu_superior:hover{
  color:white !important;
  text-decoration: none !important;
  font-family: 'Sulphur Point', sans-serif !important;
  font-size: 18px;
}
.menu_superior:visited{
    color:white;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 18px;
}
.menu_superior:link{
  color:white;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 18px;
}
.menu_superior:active{
  color:white;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 18px;
}

/* sidebar */
/* sidebar */
#sidebar-wrapper {
  min-height: 75vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 10rem;
}

#page-content-wrapper {
  min-width: 90vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



  /* Modal login */
  #opaco{
    opacity: 0.1;
  }

  .bot_cad:visited{
    color:#5a5a5a;
  }

  /* BOTÃO DA PÁGINA DE CADASTRO */
  .bot{
    border:none;
    color: white;
    padding:10px;
    margin: 10px;
    line-height: 20px;
    border-radius: 5px;
    transition:400ms;
  }

  .bot_form{
    background-color:rgb(5, 16, 78);
  }
  
  .bot:hover{
    background-color: rgba(0, 0, 0, 0);
    color:rgb(5, 16, 78);
    box-shadow: inset 0 0 0 2px rgb(5, 16, 78);
  }
  /* BOTÃO LOGIN */
  .bot2{
    border:none;
    color: white;
    padding:10px;
    margin: 10px;
    line-height: 20px;
    border-radius: 5px;
    transition:400ms;
  }

  .bot_form2{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(5, 16, 78);
    box-shadow: inset 0 0 0 2px rgb(5, 16, 78);
  }

  .bot2:hover{
    text-decoration: none;
    color:white;
    background-color:rgb(5, 16, 78);
  }

  footer{
    /*margin-left: 16.5%;
    border-top: 1px solid black;
    color:black;
    background: white;
    width: 70%;
    height: 50px;
    bottom: 0;*/
    border-top: 2px solid black; 
    background-color: rgb(236, 234, 234);
    width: 84%;
    height: 90px;
    position: fixed;
    bottom: 0;
    margin-left: 219px;

  }

  /* Videos */

  .btn:hover{
    outline-style: none;
    background-color: silver;
  }

    /* TÍTULOS */
  .titulo{
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-weight: bold;
  }
  .topico_menu_lateral:hover{
    border-radius: 3px;
    color: white; 
    background-color: rgb(29, 29, 29);
    /* font-size:14px; */
    padding-left: 10px; 
  }